{
  "BTC": [
    {
      "script": "exmo",
      "currency": "BTC_USD",
      "options": {
        "hotkeys": {
          "BUY 0.0001 BTC": {
            "action": "market_buy",     // valid: market_buy, market_sell, user_info
            "value": "0.0001 BTC"       // "<value> <currency>" example "0.001 BTC" or "1.34 USD"
          }
        },
        "credentials": {
          "key": "__EXMO_KEY_HERE__",
          "secret": "__EXMO_SECRET_HERE__"
        },
        "step": 1,
        "observe": {
          "03.02/0.05 BTC": {
            "buy": 9360
          }
        },
        "history": {
          "01.02/0.05 BTC": {
            "sell": 9802
          }
        }
      }
    }
  ]
}
