{
  "folders":
  [
    {
      "follow_symlinks": true,
      "path": ".",
      "name": "TradeMan"
    }
  ],

  "build_systems": [
    {
      "name": "BitBar-TradeMan",
      "shell": true,
      "working_dir": "$project_path",
      "cmd": [
        "ruby ./trademan.rb"
      ],
      "env":{
        "EXMO_API_KEY": "__EXMO_KEY__",
        "EXMO_API_SECRET": "__EXMO_SECRET__"
      },
      "variants": [
        {
          "name": "Exec TradeMan",
          "cmd": [
            "ENV=development ruby ./trademan.rb"
          ]
        },
        {
          "name": "Install TradeMan",
          "cmd": [
            "mkdir -pv ~/.bitbar_plugins/.trademan ~/.bitbar_plugins/.trademan-plugins && cp -f ./scripts/* ~/.bitbar_plugins/.trademan-plugins && cp -f ./.trademan/* ~/.bitbar_plugins/.trademan && cp -f ./trademan.rb ~/.bitbar_plugins/trademan.rb"
          ]
        },
        {
          "name": "Uninstall TradeMan",
          "cmd": [
            "rm ~/.bitbar_plugins/trademan.rb && rm -rf ~/.bitbar_plugins/.trademan/*"
          ]
        },
        {
          "name": "Exec BUY 0.0001 BTC with exmo script",
          "cmd": [
            "ruby ./scripts/exmo.rb --action=market_buy --currency=BTC_USD --value='0.0001 BTC' --credential_key=\\$EXMO_API_KEY --credential_secret=\\$EXMO_API_SECRET"
          ]
        },
        {
          "name": "Exec SELL 0.0001 BTC with exmo script",
          "cmd": [
            "ruby ./scripts/exmo.rb --action=market_sell --currency=BTC_USD --value='0.0001 BTC' --credential_key=\\$EXMO_API_KEY --credential_secret=\\$EXMO_API_SECRET"
          ]
        },
        {
          "name": "Exec USER_INFO with exmo script",
          "cmd": [
            "ruby ./scripts/exmo.rb --action=user_info --currency=BTC_USD --credential_key=\\$EXMO_API_KEY --credential_secret=\\$EXMO_API_SECRET"
          ]
        },
        {
          "name": "To BASE64",
          "cmd": [
            "base64 -in $file"
          ]
        }
      ]
    }
  ],

  "settings": {
    "default_encoding": "UTF-8",
    "fallback_encoding": "UTF-8",
    "encoding": "UTF-8",
    "show_encoding": true,

    "font_size": 13,

    "tab_size": 2,
    "use_tab_stops": true,
    "translate_tabs_to_spaces": true
  }
}
